<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <title><%= @page_title %></title>

  </head>

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content= "<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



<!-- start of header -->
    <div class="container">
      
      <%= render "shared/blog_masthead" %> 

      <%= render "shared/blog_nav" %>

      <%= render "shared/blog_feature_banner" %>

      <%= link_to 'Add New Entry', new_blog_path if logged_in?(:site_admin)%>

    </div>

    <br>
    <br>


<!-- row and container begin -->
 <main role="main" class="container">
      <div class="row">
<!-- row and container begin -->
    <%= yield %>

    <!-- start of sidebar -->
    <%= render 'shared/blog_sidebar' %>
    <!-- end of sidebar -->
<!-- end of row and container -->
    </div>
  </main>
  <!-- end of row and container -->
  
    <%= render 'shared/blog_footer' %>

    <%= alerts %>

    <%= source_helper %>

  </body>
</html>
